<div class="container-fluid p-0 m-0">
  <div class="jumbotron jumbotron-fluid text-center bg-dark text-light" style="background-image: url('../assets/sushi_fond.jpeg'); background-size: cover; height: 100vh; margin: 0;">
    <div class="container d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 nom-logo">SUSHI'LAB</h1>
        <p class="lead sousnom gris">SUSHI BAR</p>
        <br><br>
        <hr class="my-4">
        <br><br>
        <p class="gris">Sushi'Lab comme vous n'en avez jamais vu</p>
        <a class="btn btn-primary btn-lg custom-btn-color" routerLink="/boxes" role="button">Voir le menu</a>
      </div>
    </div>
  </div>
</div>
