<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Details de la {{ boxDetails.nom_box }}</h2>
      <p class="card-text"><strong>Description :</strong> {{ boxDetails.description }}</p>
      <p class="card-text"><strong>Nombre de pièces :</strong> {{ boxDetails.nb_piece }}</p>
      <p class="card-text"><strong>Aliments :</strong> {{ boxDetails.aliments }}</p>
      <p class="card-text"><strong>Saveurs :</strong> {{ boxDetails.saveurs }}</p>
      <p class="card-text"><strong>Prix :</strong> ${{ boxDetails.prix }}</p>
      <p class="card-text"><strong>Quantité :</strong> {{ boxDetails.quantity }}</p>
    </div>
  </div>
</div>